language: php

php:
  - '7.3'

env:
  - DB=mariadb-10.0
  - DB=mariadb-10.1
  - DB=mariadb-10.2
services:
  - docker

cache:
  apt: true
  bundler: true
  directories:
    - $HOME/.composer/cache

before_script:
  - "if [ $DB = 'mariadb-10.0' ]; then docker build -t db-master -f ./demo/Resources/docker/db-master/Dockerfile-10.0 ./demo/Resources/docker/db-master; fi"
  - "if [ $DB = 'mariadb-10.0' ]; then docker build -t db-slave -f ./demo/Resources/docker/db-slave/Dockerfile-10.0 ./demo/Resources/docker/db-slave; fi"
  - "if [ $DB = 'mariadb-10.1' ]; then docker build -t db-master -f ./demo/Resources/docker/db-master/Dockerfile-10.1 ./demo/Resources/docker/db-master; fi"
  - "if [ $DB = 'mariadb-10.1' ]; then docker build -t db-slave -f ./demo/Resources/docker/db-slave/Dockerfile-10.1 ./demo/Resources/docker/db-slave; fi"
  - "if [ $DB = 'mariadb-10.2' ]; then docker build -t db-master -f ./demo/Resources/docker/db-master/Dockerfile-10.2 ./demo/Resources/docker/db-master; fi"
  - "if [ $DB = 'mariadb-10.2' ]; then docker build -t db-slave -f ./demo/Resources/docker/db-slave/Dockerfile-10.2 ./demo/Resources/docker/db-slave; fi"
  - docker run -p 13306:3306  --name db-master -e MYSQL_ROOT_PASSWORD=1234 -d db-master
  - docker run -p 13307:3306 --name db-slave --link db-master:master -e MYSQL_ROOT_PASSWORD=1234 -d db-slave
  - sleep 60;
  - docker exec -it db-master bash -c "mysql -uroot -p1234 < temp/my.master.sql"
  - sleep 5;
  - docker exec -it db-slave bash -c "mysql -uroot -p1234 < temp/my.slave.sql"
  - sleep 5;
  - docker exec -it db-master bash -c "mysql -uroot -p1234 < temp/my.master.init_test.sql"
  - sleep 5

install:
  travis_retry composer install --no-interaction --prefer-dist;

script:
  - "if [ $DB = 'mariadb-10.0' ]; then php ./demo/cron/[every]binlog_collect_partitioner.php change_pos mariadb-bin.000004 4; fi"
  - "if [ $DB = 'mariadb-10.1' ]; then php ./demo/cron/[every]binlog_collect_partitioner.php change_pos mariadb-bin.000005 4; fi"
  - "if [ $DB = 'mariadb-10.2' ]; then php ./demo/cron/[every]binlog_collect_partitioner.php change_pos mariadb-bin.000003 4; fi"
  - php ./demo/cron/\[every\]binlog_collect_partitioner.php continue
  - php ./demo/cron/\[every\]binlog_collect_worker.php
  - php ./demo/cron/\[every\]binlog_collect_worker.php
  - php ./demo/cron/\[every\]binlog_collect_worker.php
  - cd tests
  - ../vendor/bin/phpunit
