<?xml version="1.0" encoding="utf-8"?>
<phpunit bootstrap="bootstrap.php"
         colors="true"
         stderr="true"
>
    <testsuites>
        <testsuite name="Application Test Suite">
            <directory>./</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist>
            <directory suffix=".php">src/</directory>
        </whitelist>
    </filter>

</phpunit>
